<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}"></link>
</head>
<body>
	<form method="POST" th:object="${worktool}" enctype="multipart/form-data">
		<div>
			<label>Code</label> <input type="text" th:field="*{code}"/>
		</div>
		<div>
			<label>Description</label> <input type="text" th:field="*{description}" />
		</div>
		<div>
			<label>Longitude</label> <input type="text" th:field="*{longitude}" />
		</div>
		<div>
			<label>Latitude</label> <input type="text" th:field="*{latitude}" />
		</div>
		<div>
			<label>File</label> <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif"/>
		</div>
		<div>
			<button type="submit">Save</button>
		</div>
	</form>
</body>
</html>
